
.SectionBanner{
    display:flex;    
    justify-content:center;
    flex-direction: column;
    align-items: center;
    width: 100%;      
    color: #fff; 
    
}
.SectionBanner img {
    
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;    
  
}