header{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 112px;
    background-color: #A6E2DB;
    color: #fff;

}
section{
    
        display:flex;        
        align-items:flex-start;
        width: 100%; 
        background-color:#555;
        color: #fff;       

}

.cont{
    display:flex;    
    justify-content:center;
    flex-direction: column;
    align-items: center;
    height: 380px;
    width: 100%;      
    color: #fff; 
    
}



